*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* ************** NAVBAR START ****************** */
#nav{
    padding: 0px 20px;
}
ul{
    /* border: 2px solid red; */
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
}
li{
    margin: 20px 10px;
}
li a{
    color: black;
    font-weight: 300;
    font-size: 15px;
}
a:hover{
    text-decoration: underline;
}
#nav button{
    margin: 10px;
    background-color: #4285F4;
    border: none;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
li img{
    width: 20px;
}
/* ******************* NAVBAR FINISHED ***************** */

/* *********************SEARCH BAR START ************************* */
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}
#search-bar{
    width: 80%;
    max-width: 600px;
    border: 1px solid #cccccc;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 20px 0px;
}
#search-bar:hover{
    box-shadow: 3px 6px 7px -3px #ccc;
}
i{
    color: #9AA0A6;
}
#search{
    margin: 0px 10px;
    width: 100%;
    /* border: 2px solid red; */
}
#search input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}
#voice-search{
    height: 80%;
    cursor: pointer;
}

.buttons{
    padding: 10px 15px;
    border: none;
    outline: none;
    margin: 0px 10px;
    cursor: pointer;
    color: #5F6368;
    background-color: #f2f2f2;
    border-radius: 4px;
}
.buttons:hover{
    box-shadow: 0 1px 1px rgb(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222222;
}
/* *********************SEARCH BAR FINISH ************************* */

/* *********************** FOOTER START ********************** */

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 0px 20px;
    border-top: 1px solid #dadce0;
}
#footer li{
    margin: 10px;
}

/* *********************** FOOTER Finish ********************** */

@media screen and (max-width: 600px){
    #footer{
        flex-direction: column;
        justify-content: center;
    }
}